<!DOCTYPE html>
<html>
  <head>
    <title>A playground of AngularJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/libraries/animate.css/animate.min.css' />
    <script src="/libraries/jquery/dist/jquery.js"></script>
    <script src="/libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libraries/angular/angular.js"></script>
    <script src="/angular_playground/app.js"></script>
  </head>
  <body ng-app="demoApp">
    <div ng-controller="MainCtrl">
      <button class="btn btn-primary" ng-click="getMemberList()">Get Members</button>
      <button class="btn btn-primary" ng-click="createMember()">Create Members</button>
      <button class="btn btn-primary" ng-click="updateMember()">update Member</button>
      <button class="btn btn-primary" ng-click="deleteMember()">delete Member</button>      

      <div ng-repeat="member in members">
        Name: {{member.firstName}} {{member.lastName}}
        Dept: {{member.department}}
      </div>
    </div>
  </body>
</html>
