<!DOCTYPE html>
<html>
  <head>
    <title>A playground of AngularJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/libraries/animate.css/animate.min.css' />
  </head>
  <body>

  </body>
</html>