<!DOCTYPE html>
<html>
  <head>
    <title>A playground of AngularJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/libraries/animate.css/animate.min.css' />
    <script src="/libraries/jquery/dist/jquery.js"></script>
    <script src="/libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libraries/angular/angular.js"></script>
    <script src="/angular_playground/app.js"></script>
  </head>
  <body ng-app="demoApp">
    <div ng-controller="MainCtrl">
      <h1 enter="loadMoreTweets()">Load more tweets</h1>
    </div>
  </body>
</html>
