<!DOCTYPE html>
<html>
  <head>
    <title>A playground of AngularJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/libraries/animate.css/animate.min.css' />
    <script src="/libraries/jquery/dist/jquery.js"></script>
    <script src="/libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libraries/angular/angular.js"></script>
    <script src="/angular_playground/app.js"></script>
  </head>
  <body ng-app="demoApp" >
    <div class="container" ng-controller="AccountCtrl">
      <div class="col-sm-6">
        <h3 class="text-primary">Account Setup</h3>
        <form name="accountForm" novalidate>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" class="form-control" ng-model="user.email"
            ng-model-options="{ updateOn: 'blur' }" id="inputEmail" placeholder="Enter email" required>
            <h6 class="text-danger" ng-show="accountForm.email.$dirty && accountForm.email.$error.required">
              Please input your email!
            </h6>
            <h6 class="text-danger" ng-show="accountForm.email.$dirty && accountForm.email.$error.email">
              Please use a valid email address!
              </h6>
          </div>
          <div class="form-group">
            <label for="inputLogonName">Logon Name</label>
            <input type="text" name="logonName" class="form-control" ng-model="user.logonName"
            ng-model-options="{ updateOn: 'blur' }" id="inputLogonName" placeholder="Logon name" required user-name-checker>
            <h6 class="text-danger" ng-show="accountForm.logonName.$dirty && accountForm.logonName.$error.required">
              Please specify a logon name!
            </h6>
            <div class="username-checking" ng-show="accountForm.logonName.$pending.username">
              <span class="glyphicon glyphicon-refresh"></span> Checking if this name is available...
            </div>
            <div class="username-exist" ng-show="accountForm.logonName.$error.username">
              <span class="glyphicon glyphicon-info-sign"></span> This username is already taken!
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password"
            ng-model-options="{ updateOn: 'blur' }" id="inputPassword" placeholder="Password" required ng-minlength=6>
            <h6 class="text-danger" ng-show="accountForm.password.$dirty && accountForm.password.$error.required">
              Please input your password!
            </h6>
            <h6 class="text-danger" ng-show="accountForm.password.$dirty && accountForm.password.$error.minlength">
              Your password is too short! Please make it at least 6 characters.
            </h6>
          </div>
          <div class="form-group">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword"
             ng-model-options="{ updateOn: 'blur' }" id="inputConfirmPassword" placeholder="Confirm Password"
             required confirm-password password="{{user.password}}" >
            <h6 class="text-danger" ng-show="accountForm.confirmPassword.$dirty && accountForm.confirmPassword.$error.required">
              Please confirm your password!
            </h6>
            <h6 class="text-danger" ng-show="accountForm.confirmPassword.$dirty && accountForm.confirmPassword.$error.confirmpassword">
              The password is different from the one you just set above!
            </h6>
          </div>
          <button type="submit" ng-disabled="accountForm.$invalid" class="btn btn-default btn-block btn-success">Submit</button>
        </form>
      </div>
      <div class="col-sm-6">
        <h3 class="text-primary">Form Control State</h3>
        <table class="table table-bordered">
          <tr>
            <th>Email</th>
            <th>Logon Name</th>
            <th>Password</th>
            <th>Confirm PW</th>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$valid}">valid</td>
            <td ng-class="{success: accountForm.logonName.$valid}">valid</td>
            <td ng-class="{success: accountForm.password.$valid}">valid</td>
            <td ng-class="{success: accountForm.confirmPassword.$valid}">valid</td>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$invalid}">invalid</td>
            <td ng-class="{success: accountForm.logonName.$invalid}">invalid</td>
            <td ng-class="{success: accountForm.password.$invalid}">invalid</td>
            <td ng-class="{success: accountForm.confirmPassword.$invalid}">invalid</td>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$pristine}">pristine</td>
            <td ng-class="{success: accountForm.logonName.$pristine}">pristine</td>
            <td ng-class="{success: accountForm.password.$pristine}">pristine</td>
            <td ng-class="{success: accountForm.confirmPassword.$pristine}">pristine</td>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$dirty}">dirty</td>
            <td ng-class="{success: accountForm.logonName.$dirty}">dirty</td>
            <td ng-class="{success: accountForm.password.$dirty}">dirty</td>
            <td ng-class="{success: accountForm.confirmPassword.$dirty}">dirty</td>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$touched}">touched</td>
            <td ng-class="{success: accountForm.logonName.$touched}">touched</td>
            <td ng-class="{success: accountForm.password.$touched}">touched</td>
            <td ng-class="{success: accountForm.confirmPassword.$touched}">touched</td>
          </tr>
          <tr>
            <td ng-class="{success: accountForm.email.$untouched}">untouched</td>
            <td ng-class="{success: accountForm.logonName.$untouched}">untouched</td>
            <td ng-class="{success: accountForm.password.$untouched}">untouched</td>
            <td ng-class="{success: accountForm.confirmPassword.$untouched}">untouched</td>
          </tr>
        </table>
      </div>

    </div>
  </body>
</html>
