<!DOCTYPE html>
<html>
  <head>
    <title>A playground of AngularJS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/libraries/animate.css/animate.min.css' />
    <script src="/libraries/angular/angular.js"></script>
    <script src="/angular_playground/app.js"></script>

  </head>
  <body ng-app="demoApp">
    <div ng-controller="RevengeCtrl">
      <input type="text" class="form-control" ng-model="search" />
      <br />
      <table class="table table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th>Character</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="actor in revengers.cast | filter:search">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
          <td><button ng-click="remove($index);">Remove</button></td>
        </tr>
      </table>
      <br />
      <input type="text" class="form-control" ng-model="actor.name" />
      <br />
      <input type="text" class="form-control" ng-model="actor.character" />
      <br />
      <button ng-click="addActor(actor.name, actor.character)">Add New Actor</button>
    </div>
  </body>
</html>
